@import url(https://fonts.googleapis.com/css?family=Roboto:300,100);
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');


html {
    overflow-x: hidden;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

body .home-page {
    overflow: hidden;
}

body {
    background: #F0F0F0;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
}


/* animations + movement start */

#spin {
    -webkit-animation: rotation 20s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

/* animations + movement end */


/* menu bits start */

.content {
    display: flex;
    justify-content: center;
    position: absolute;
    height: calc(100vh - 128px);
    width: 100vw;
    z-index: 1;
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: #000;
    background-size: cover;
    background-position: 50% 80%;
    padding-top: 1%;
}


.content h1 {
    font-size: 60px;
    margin-bottom: 15px;
    font-weight: 300;
}

.content h2 {
    font-size: 42px;
    font-weight: 100;
}

body.home-page .content div {
    max-width: 570px;
}

body.home-page .content div p {
    font-size: 16px;
    font-family: 'Raleway';
    font-weight: 100;
    letter-spacing: 5px;
    padding: 40px 20px;
    color: #fff;
    text-transform: uppercase;
}

.panel-inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.menu-container {
    z-index: 2;
    position: fixed;
    display: flex;
    align-items: stretch;
    overflow: hidden;
    height: 100%;
    width: 100vw;
    pointer-events: none;
    top: 0;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: calc(100vh - 38px);
    width: 100vw;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
    transition: transform 0.5s;
    transition-delay: 0.5s;
    visibility: hidden;
    padding-top: 90px;
}

.menuarea {
    position: relative;
    height: 110px;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #cbcbcb;
    background-color: #fff;
    z-index: 3;
}

.menu ul {
    padding-left: 0;
}

.menu ul li {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 19px;
    color: #fff;
    min-height: 45px;
    padding: 15px;
    text-align: center;
    list-style: none;
}

.menu ul li a {
    cursor: pointer;
    color: #fff;
    transition: all 0.1s;
}

.menu ul li a:hover {
    text-decoration: none;
    color: #cfcfcf;
    transition: all 0.1s;
}

.menu-sliders {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: flex 0.45s;
    transition-delay: 0.2s;
}

.menu-sliders:nth-child(2) {
    flex: 1 0 100%;
    background: transparent;
}

.menu-sliders:nth-child(odd) {
    background: #777CA8;
}

.plus-btn-pos {
    position: fixed;
    top: 35px;
    right: 15px;
    z-index: 5;
}

.plus-btn {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: white;
    position: relative;
    border: 1px solid #cbcbcb;
    cursor: pointer;
    transition: all 0.1s;
}

.plus-btn div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 3px;
    background: #777CA8;
    transition: transform 0.3s;
    transition-delay: 0.5s;
}

.plus-btn .r1 {
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}

.plus-btn .r2 {
    transform: translateX(-50%) translateY(-50%) rotate(-180deg);
}

.plus-btn:hover {
    background: #777CA8;
    transition: all 0.1s;
}

.plus-btn:hover div {
    background: white;
}

.plus-btn:active {
    box-shadow: none;
}

body.menu-open .menu-sliders:nth-child(2) {
    flex: 0 0 0%;
}

body.menu-open .menu {
    transform: translateY(0%);
    visibility: visible;
    pointer-events: all;
}

body.menu-open .plus-btn .r1 {
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

body.menu-open .plus-btn .r2 {
    transform: translateX(-50%) translateY(-50%) rotate(-135deg);
}

/* menu bits end */


/* ---------------- */

.vertpad {
    padding-top: 15px;
    padding-bottom: 15px;
}

.vertpad2 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.main-title {
    display: flex;
    justify-content: center;
}

.main-logo {
    height: 110px;
}

.main-logo > a > img {
    max-width: 40px;
    margin-left: 15px;
    margin-top: 35px;
    width: 100%;
}


.main-title h1 {
    width: 65%;
    top: 18px;
    position: absolute;
    text-align: center;
    font-family: 'Petit Formal Script', cursive;
    font-weight: 100;
    font-size: 23px;
}

.main-title h2 {
    width: 50%;
    top: 47px;
    position: absolute;
    text-align: center;
    font-family: 'Petit Formal Script', cursive;
    font-weight: 100;
    font-size: 20px;
}

.main-title h3 {
    width: 50%;
    top: 81px;
    position: absolute;
    text-align: center;
    font-family: 'Petit Formal Script', cursive;
    font-weight: 100;
    font-size: 14px;
}

.main-title img {
    filter: invert(1);
    max-width: 200px;
    position: absolute;
    top: 15px;
    width: 100%;
}

.home-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.padding30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.padding20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.padding2040 {
    padding-top: 20px;
    padding-bottom: 40px;
}

.testimonial {
    border-radius: 3px;
    margin-bottom: 20px;
    text-align: left;
    padding: 15px;
}

.t-title {
    margin-top: 20px;
}

.testimonial.grey h3 {
    font-family: 'Petit Formal Script', cursive;
    margin-top: 10px;
    font-size: 23px;
}

.testimonial.purple h3 {
    font-family: 'Petit Formal Script', cursive;
    margin-top: 10px;
    font-size: 23px;
}

.testimonial.purple {
    background: #777ca8;
    color: white;
}

.testimonial.grey {
    background: #f7f7f7;
}

.testimonial blockquote span {
    font-weight: 600;
    white-space: nowrap;
    font-size: 0.9rem;
}

.snap-content {
    grid-template-columns: 100%;
    scroll-snap-type: both mandatory;
    overflow: scroll;
    border: 2px solid var(--gs0);
    border-radius: 0;
    height: calc(100vh - 125px);
}

.snap-content .snap {
    scroll-snap-align: start;
    min-height: calc(100vh - 125px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

body.contact-page .snap-content {
    scroll-snap-type: unset;
}

body.spiritual-transcendence .snap-content {
    scroll-snap-type: unset;
}

.snap-content .snap:nth-child(2) {
    background: #989bc1;
}

.snap-content .snap:nth-child(3) {
    background: #8b8fb9;
}

.snap-content .snap:nth-child(4) {
    background: #7f83b2;
}

.snap-content .snap:nth-child(5) {
    background: #7275a0;
}

.snap-content .snap:nth-child(6) {
    background: #65688e;
}

.snap-content .snap:nth-child(7) {
    background: #585b7c;
}

.snap-content .snap:nth-child(8) {
    background: #4c4e6a;
}

.snap-content .snap:nth-child(9) {
    background: #3f4159;
}

.snap-content .snap:nth-child(10) {
    background: #323447;
}

.snap-content .snap:nth-child(11) {
    background: #3e4059;
}

.snap-content .snap:nth-child(12) {
    background: #252737;
}

.snap-content .snap:nth-child(13) {
    background: #181a32;
}

.snap-content .snap:nth-child(14) {
    background: #0d1037;
}

.snap-title h1 {
    font-family: 'Petit Formal Script', cursive;
    color: #fff;
    text-align: center;
    padding: 5px;
    font-size: 1.9rem;
}

.contact-form input {
    display: block;
    margin: 0px 0px 10px 0px;
    font-size: 15px;
    border: 1px solid white;
    padding: 3px 7px;
    color: #8e91a1;
    font-family: "Roboto", sans-serif;
}

.contact-form input:nth-child(1),
.contact-form input:nth-child(2) {
    width: 100%;
}

.contact-form form button {
    font-size: 14px;
    border: 1px solid white;
    background-color: white;
    color: #abafc9;
    padding: 5px 20px;
    transition: all 0.2s;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
}

.contact-form form button:hover {
    background-color: transparent;
    color: white;
    transition: all 0.2s;
}

.contact-form textarea {
    width: 100%;
    height: 140px;
    font-size: 15px;
    border: 1px solid white;
    padding: 3px 7px;
    color: #8e91a1;
    font-family: "Roboto", sans-serif;
}

.spiritual-form input {
    display: block;
    margin: 0px 0px 10px 0px;
    font-size: 15px;
    border: 1px solid white;
    padding: 7px;
    color: #8e91a1;
    font-family: "Roboto", sans-serif;
}

.spiritual-form input:nth-child(1),
.spiritual-form input:nth-child(2) {
    width: 100%;
}

.spiritual-form p {
    color: white;
    font-weight: 100;
    font-family: 'Roboto';
}

.spiritual-form form button {
    font-size: 14px;
    border: 1px solid white;
    background-color: white;
    color: #abafc9;
    padding: 5px 20px;
    transition: all 0.2s;
    font-family: "Roboto", sans-serif;
}

.spiritual-form form button:hover {
    background-color: transparent;
    color: white;
    transition: all 0.2s;
}

.spiritual-form textarea {
    width: 100%;
    height: 140px;
    font-size: 15px;
    border: 1px solid white;
    padding: 3px 7px;
    color: #8e91a1;
    font-family: "Roboto", sans-serif;
}

.contact-box {
    padding: 15px 10px;
    margin: 10px 0px;
    background: #fff;
    height: calc(100% - 20px);
}

#consent {
    width: auto;
    display: inline;
}

.free-text p {
    color: #fff;
    margin: 15px 0px 0px 0px;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
}

.contact-form label {
    color: #fff;
    margin: 15px 0px 0px 0px;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
}

.contact-form h3 {
    font-family: 'Petit Formal Script', cursive;
    color: #fff;
    font-size: 30px;
    margin: 0px 0px 20px 0px;
}

.contact-form {
    border: 2px dashed white;
    padding: 15px 10px;
    margin: 10px 0px;
}

.spiritual-form label {
    color: #fff;
    margin: 15px 0px 0px 0px;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
}

.spiritual-form h3 {
    font-family: 'Petit Formal Script', cursive;
    color: #fff;
    font-size: 30px;
    margin: 0px 0px 20px 0px;
}

.spiritual-form {
    padding: 15px 10px;
    margin: 10px 0px;
}

.contact-line {
    margin: 5px 0px 0px 10px;
}

.contact-line i,
.contact-line i span {
    color: #989bc1;
    font-size: 17px;
}

.contact-line span {
    font-size: 18px;
    margin-left: 5px;
}

.thank-you h1 {
    color: #000 !important;
    font-size: 33px;
    font-family: 'Roboto';
    font-weight: 100;
}

.snap-title.thank-you {
    max-width: 1000px;
}

.contact-line i span a {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    color: #989bc1;
}

.contact-line h2 {
    font-family: "Roboto", sans-serif;
    color: #989bc1;
    font-weight: 100;
    margin-top: 20px;
    font-size: 25px;
}

.contact-line h3 {
    font-family: "Roboto", sans-serif;
    color: #989bc1;
    font-weight: 100;
    font-size: 18px;
}


.about-section h2 {
    color: #fff;
    font-family: 'Petit Formal Script', cursive;
    font-size: 20px;
    margin-bottom: 25px;
}

.about-section h3 {
    color: #fff;
    font-family: 'Petit Formal Script', cursive;
    font-size: 17px;
}

.about-section p {
    font-family: 'Roboto';
    color: #fff;
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 23px;
}

.about-section p a {
    color: #fff;
    text-decoration: underline;
}


.spiritual-section h2 {
    color: #fff;
    font-family: 'Petit Formal Script', cursive;
    font-size: 20px;
    margin-bottom: 25px;
}

.spiritual-section h3 {
    color: #fff;
    font-family: 'Petit Formal Script', cursive;
    font-size: 17px;
}

.spiritual-section p {
    font-family: 'Roboto';
    color: #fff;
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 23px;
}

.spiritual-section p a {
    color: #fff;
    text-decoration: underline;
}



.news-section h2 {
    color: #fff;
    font-family: 'Petit Formal Script', cursive;
    font-size: 20px;
    margin-bottom: 25px;
}

.news-section h3 {
    color: #fff;
    font-family: 'Petit Formal Script', cursive;
    font-size: 17px;
}

.news-section p {
    font-family: 'Roboto';
    color: #fff;
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 23px;
}

.news-section p a {
    color: #fff;
    text-decoration: underline;
}

.services-heading h2 {
    color: #fff;
    font-family: 'Petit Formal Script', cursive;
    font-size: 20px;
}

.services-icon h4 {
    color: #fff;
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 100;
}

.services-icon img {
    width: 100%;
    max-width: 43px;
    margin-bottom: 3px;
}

.services-icon a:hover {
    color: #fff;
}

.snap-title.spiritual h3 {
    color: #fff;
    max-width: 910px;
    text-align: center;
    font-weight: 100;
    font-family: 'Roboto';
    font-size: 18px;
    margin-top: 10px;
    padding: 10px 30px;
}

/* ---------------- */


/* footer bits start */

.footerarea {
    position: fixed;
    bottom: 0;
    background-color: #777CA8;
    width: 100%;
    z-index: 2;
    display: inline-flex;
    border-top: 1px solid #fff;
    height: 40px;
}

.social-icons {
    display: flex;
    margin: 5px 4px 5px 0px;
}

.social-icons img {
    max-width: 29px;
    padding: 3px;
    margin: 0px 4px;
}

.social-icons.right {
    width: 50%;
    justify-content: flex-end;
}

.social-icons.left {
    width: 50%;
    justify-content: left;
}

.contact-button {
    color: white;
    border: 1px solid white;
    margin: 2px 5px;
    padding: 4.5px 10px;
    font-size: 10px;
    text-transform: uppercase;
    height: 25px;
    border-radius: 2px;
    transition: all 0.15s;
    font-family: 'Roboto';
    text-decoration: none;
}

.contact-button:hover {
    background-color: #fff;
    transition: all 0.15s;
    border: 1px solid #fff;
    text-decoration: none;
    color: #6d8ac7;
}

.price-table p {
    margin-top: 0px;
    margin-bottom: 5px;
}

.price-table h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.price-table {
    padding: 4px 9px;
    border: 2px dashed #fff;
    display: inline-block;
}

/* footer bits end */


/* media queries start */

@media (min-width: 480px) {
    .main-title h1 {
        top: 14px;
        font-size: 27px;
    }

    .main-title h2 {
        top: 47px;
        font-size: 24px;
    }
}

@media (min-width: 500px) {

    .contact-line i span a {
        font-size: 17px;
    }

    .contact-line h2 {
        font-size: 32px;
    }

    .about-section h2 {
        font-size: 26px;
    }

    .about-section p {
        font-size: 16px;
    }

    .spiritual-section h2 {
        font-size: 26px;
    }

    .spiritual-section p {
        font-size: 16px;
    }

    .news-section h2 {
        font-size: 26px;
    }

    .news-section p {
        font-size: 16px;
    }
}


@media (min-width: 576px) {
    .menu ul li {
        font-size: 20px;
    }

    .plus-btn {
        width: 70px;
        height: 70px;
    }

    .plus-btn-pos {
        top: 20px;
        right: 25px;
    }

    .main-logo > a > img {
        max-width: 70px;
        margin-left: 25px;
        margin-top: 20px;
        width: 100%;
    }

    .services-heading h2 {
        font-size: 26px;
    }

    body.home-page .content div p {
        font-size: 16px;
        font-family: 'Raleway';
        font-weight: 400;
        letter-spacing: 5px;
        padding: 40px 20px;
        color: #fff;
        text-transform: uppercase;
    }

    body.home-page .content div:nth-child(1) p {
        padding: 35px 20px;
    }
}


@media (min-width: 768px) {
    .about-section h2 {
        font-size: 28px;
    }

    .spiritual-section h2 {
        font-size: 28px;
    }

    .news-section h2 {
        font-size: 28px;
    }

    .services-icon h4 {
        font-size: 16px;
    }

    .services-icon img {
        max-width: 70px;
        margin-bottom: 15px;
    }

    .snap-title.spiritual h3 {
        font-size: 21px;
        padding: 10px 40px;
    }

    .spiritual-form {
        border: 2px dashed white;
    }

    .snap-title h1 {
        font-size: 2.5rem;
    }
}

@media (min-width: 838px) {
    .desktop-title h1 {
        top: 17.5px;
        font-size: 35px;
    }

    body.contact-page .snap-content {
        scroll-snap-type: both mandatory;
    }

    body.spiritual-transcendence .snap-content {
        scroll-snap-type: both mandatory;
    }
}

@media (min-width: 992px) {
    .menu ul li {
        font-size: 23px;
    }

    .about-section h2 {
        font-size: 33px;
    }

    .spiritual-section h2 {
        font-size: 33px;
    }

    .news-section h2 {
        font-size: 33px;
    }

    .testimonial {
        padding: 27px;
    }

}

@media (min-width: 1200px) {
    .contact-line h3 {
        font-size: 21px;
    }
}

/* media queries end */
