@import url(https://fonts.googleapis.com/css?family=Roboto:300,100);
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #F0F0F0;
    overflow-y: scroll;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
}


/* animations + movement start */

#spin {
    -webkit-animation: rotation 20s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

/* animations + movement end */


/* menu bits start */

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: black;
}

.content h1 {
    font-size: 60px;
    margin-bottom: 15px;
    font-weight: 300;
}

.content h2 {
    font-size: 42px;
    font-weight: 100;
}

.menu-container {
    z-index: 2;
    position: relative;
    display: flex;
    align-items: stretch;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(-100%);
    transition: transform 0.5s;
    transition-delay: 0.5s;
    visibility: hidden;
}

.menuarea {
    position: absolute;
    height: 90px;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #cbcbcb;
    background-color: white;
    z-index: 2;
}

.menu ul {
    padding-left: 0;
}

.menu ul li {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 32px;
    color: white;
    min-height: 45px;
    padding: 15px;
    text-align: center;
    list-style: none;
}

.menu ul li a {
    cursor: pointer;
}

.menu-sliders {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: flex 0.45s;
    margin-bottom: 38px;
}

.menu-sliders:nth-child(2) {
    flex: 1 0 100%;
    background: transparent;
}

.menu-sliders:nth-child(odd) {
    background: #777CA8;
}

.plus-btn-pos {
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 5;
}

.plus-btn {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: white;
    position: relative;
    border: 1px solid #cbcbcb;
    cursor: pointer;
    transition: all 0.1s;
}

.plus-btn div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 3px;
    background: #777CA8;
    transition: transform 0.3s;
    transition-delay: 0.5s;
}

.plus-btn .r1 {
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}

.plus-btn .r2 {
    transform: translateX(-50%) translateY(-50%) rotate(-180deg);
}

.plus-btn:hover {
    background: #777CA8;
    transition: all 0.1s;
}

.plus-btn:hover div {
    background: white;
}

.plus-btn:active {
    box-shadow: none;
}

body.menu-open .menu-sliders:nth-child(2) {
    flex: 0 0 0%;
}

body.menu-open .menu {
    transform: translateY(0%);
    visibility: visible;
    pointer-events: all;
}

body.menu-open .plus-btn .r1 {
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

body.menu-open .plus-btn .r2 {
    transform: translateX(-50%) translateY(-50%) rotate(-135deg);
}

/* menu bits end */


/* ---------------- */

.main-title h1 {
    width: 100%;
    top: 18px;
    position: absolute;
    text-align: center;
    font-family: 'Raleway';
    font-weight: 100;
    font-size: 23px;
}

.main-title h2 {
    width: 100%;
    top: 47px;
    position: absolute;
    text-align: center;
    font-family: 'Raleway';
    font-weight: 100;
    font-size: 20px;
}

.home-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------------- */


/* footer bits start */

.footerarea {
    position: fixed;
    bottom: 0;
    background-color: #777CA8;
    width: 100%;
    z-index: 2;
    display: inline-flex;
}

.social-icons {
    display: flex;
    margin: 4px 4px 4px 0px;
}

.social-icons img {
    max-width: 29px;
    padding: 3px;
    margin: 0px 4px;
}

.social-icons.right {
    width: 50%;
    justify-content: right;
}

.social-icons.left {
    width: 50%;
    justify-content: left;
}

/* footer bits end */


/* media queries start */

@media (min-width: 480px) {
    .main-title h1 {
        top: 14px;
        font-size: 27px;
    }

    .main-title h2 {
        top: 47px;
        font-size: 24px;
    }
}

@media (min-width: 576px) {
    .menu ul li {
        font-size: 40px;
    }
}

@media (min-width: 768px) {}

@media (min-width: 838px) {
    .desktop-title h1 {
        top: 17.5px;
        font-size: 35px;
    }
}

@media (min-width: 992px) {
    .menu ul li {
        font-size: 45px;
    }
}

@media (min-width: 1200px) {}

/* media queries end */
